.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10rem;
    background-color: $color-deep-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    // box-shadow: 0 .1rem 1rem rgba($color: #000000, $alpha: .25);
    z-index: 1000;

    @include respond(tab-port) {
        display: none;
    }

    @include respond(phone) {
        display: none;
    }


    &__logo {
        width: 5rem;
    }

    .nav {
        &__links {
           list-style: none; 

           li {
            display: inline-block;
            padding: 0 2rem;
            transition: all .3s;

                &:not(.active):hover {
                    transform: translateY(-10%);
                }
           }

           a {
             @include customFont($font-ubuntu-mono, $color-base-dark, 700, 1.8rem);
              font-size: 1.2rem;
              text-decoration: none;

              &.router-link-exact-active {
                position: relative;
                transform-origin: bottom;
                transition: all .4s ease .3s;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -1.2rem;
                    left: 45%;
                    width: .7rem;
                    height: .7rem;
                    background-color: $color-base-dark;
                    border-radius: 50%;
                    // box-shadow: .1rem .3rem 24rem rgba($color: #000000, $alpha: .65);
                }
              }
           }
        }
    }

    &__socials {
        
        // &-link {
        //     transition: all .2s ease 0s;
            
        // }

        // &-icon {
        //     width: 2.7rem;
        //     height: 2.7rem;
        //     fill: $color-pink;
        //     transition: all .2s ease 0s;

        //     &:not(last-child) {
        //         margin-right: 1.4rem;
        //     }

        //     &:hover {
        //         transform: translateY(-10%);
        //     }
        // }
    

        // &__profile {
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;
        //         align-items: center;
        //         // margin-bottom: 12rem;
        //         // margin-top: -4.5rem;
        //         position: static;

        //         &-img {
        //             width: 5rem;
        //             height: 5rem;
        //             // background-color: blue;
        //             border-radius: 50%;
        //             box-shadow: 0 1rem 2rem rgba($color-black, .1);
        //         }

        //         h3 {
        //             display: none;
        //             margin-left: .5rem;
        //             width: auto;
        //             text-align: center;
        //             @include customFont($font-poppins, $color-dark, 500, 1rem);
        //         }
        // }
    }

}

.active-link {
    position: relative;
    transform-origin: bottom;
    transition: all .4s ease .3s;

    &::before {
        content: '';
        position: absolute;
        bottom: -1.2rem;
        left: 45%;
        width: .7rem;
        height: .7rem;
        background-color: $color-base-dark;
        border-radius: 50%;
        // box-shadow: .1rem .3rem 24rem rgba($color: #000000, $alpha: .65);
    }
}