.homes {
    background-color: $color-white;
    width: 100vw;
    // height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2%;
    margin-top: 10rem;

    @include respond(phone) {
        height: 100vh;
        margin-top: 0;
        justify-content: center;
    }

    &__task {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.task {
    // width: 100%;
    position: relative;
    max-width: 70rem;
    min-width: 70rem;
    margin: 2rem auto;
    background: $color-white;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    border-left: 4px solid #e90074;

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            cursor: pointer;
            margin-bottom: 2rem;
            @include customFont($font-poppins, $color-dark, 500, 1.8rem);
        }

        .icons {
            line-height: 4rem;

            .material-icons {
                font-style: 2.4rem;
                margin-left: 1rem;
                color: #bbb;
                cursor: pointer;

                &:hover {
                    color: #777;
                }
            }
        }
    }

    P {
        @include customFont($font-poppins, $color-base-dark, 300, 1.4rem);
    }

    &.completed {
        border-left: 4px solid greenyellow;
    }
}

.filter-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &.active {
            color: $color-dark !important;
            border-color: $color-dark !important;
        }
    }
}